body {
    background-color: #202124;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home {
    height: 99vh;
    width: 99vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home__header {
    position: absolute;
    top: 0;
    height: 3rem;
    width: 99vw;
    display: flex;
    justify-content: space-between;
}

.home__headerLeft {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.home__headerRight {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.home__body {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 10%;
    gap: 2rem;
    padding: 1rem;
}

.searchInput_container {
    background-color: #404146;
    width: 43vw;
    height: 2.4rem;
    border-radius: 2rem;
    display: flex;
    font-display: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 3px 1rem;
    font-size: 30px;
    cursor: pointer;
}

.searchInput {
    background-color: transparent;
    border: none;
    outline: none;
    width: 38vw;
    height: 2.5rem;
    font-size: large;
    color: white;
}

.searchBtn_container {
    height: 3rem;
    width: 22rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.searchResBtn {
    height: 1.7rem;
    width: fit-content;
    padding: 0.7rem 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00a2ff;
    color: #d6e3e4;
    border-radius: 1rem;
    outline: none;
    border: none;
    font-weight: bold;
}

.searchBtn {
    height: 2.5rem;
    width: fit-content;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #303134;
    color: #d6e3e4;
    border-radius: 5px;
    outline: none;
    border: none;
    font-weight: bold;
}

.engineX {
    font-size: 5rem;
    background: linear-gradient(to right, #0076fd, #7194ff, #9469dd, #ff6dbd);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.madeWithLoveContainer {
    text-align: center;
    background: linear-gradient(90deg, #00a2ff, #b10e8e);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

@media (max-width: 576px) {
    .home {}
    .home__header {
        height: 3rem;
        margin-top: 1rem;
    }
    .home__headerLeft {
        gap: 0.5rem;
        padding: 0.5rem;
    }
    .home__headerRight {
        gap: 0.5rem;
        padding: 0.5rem;
        width: 9rem;
    }
    .home__body {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        top: 15%;
        gap: 1rem;
        padding: 0.5rem;
        width: 99vw;
        height: 83vh;
    }
    .searchInput_container {
        width: 85vw;
        height: 2rem;
        gap: 0.4rem;
        padding: 3px 0.6rem;
    }
    .searchInput {
        width: 54vw;
        height: 2rem;
    }
    .searchBtn_container {
        height: 3.5rem;
        width: 12rem;
        display: flex;
        flex-direction: column;
    }
    .searchResBtn {
        height: 0.6rem;
        width: fit-content;
        padding: 0.7rem 0.3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #00a2ff;
        color: #d6e3e4;
        border-radius: 1rem;
        outline: none;
        border: none;
        font-weight: bold;
    }
    .searchBtn {
        height: 0.6rem;
        width: fit-content;
        padding: 10px;
        background-color: #303134;
        color: white;
    }
    .engineX {
        font-size: 2.6rem;
    }
    .madeWithLoveContainer {
        text-align: center;
        background: linear-gradient(90deg, #00a2ff, #b10e8e);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        font-size: small;
    }
}